@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Fredericka+the+Great&family=Lalezar&family=Roboto:wght@300&display=swap');
$font-chewy: 'Chewy', cursive;
$font-fred: 'Fredericka the Great', cursive;
$font-lalezar: 'Lalezar', cursive;
$font-roboto: 'Roboto', sans-serif;
